@charset "ISO-8859-1";
*{
	border: 0;
	margin: 0;
	padding: 0;
}
body{
	background: #ccc;
	background-image:  url("../resources/img/monedas3.jpg");
}
#Monedas{
	background-color: blue;
	width: 780px;
	height: 200px;

}
#Ejemplares{
	background-color:red;
	width: 780px;
	height: 200px;

}
#Proveedores{
	background-color:green;
	width: 780px;
	height: 200px;

}
#Añadir{
	border: none;
	heigth: 55px;
	width: 65px;
	font-size: 20px;
	position: relative;
	left: 500px;
	top: 75px;
	background-color:#ff8000;
	border-radius: 8px;
	cursor: pointer;
	
}

#Modificar{
		border: none;
	heigth: 55px;
	width: 85px;
	font-size: 20px;
	position: relative;
	left: 520px;
	top: 75px;
	background-color:#ff8000;
	border-radius: 8px;
	cursor: pointer;
}
#Volver{
	position: relative;
	left: 350px;
}
#add{
	position: relative;
	left: 300px;
}
.Etiquetas{
	position: relative;
	left: 115px;
	top: 100px;
	

}
.campos{
	position: relative;
	left: 130px;
	top: 100px;

}

	
#contenedor{
	height: 750px;
	width: 780px;
	margin: 0 auto 0 auto;
}
#cabecera{
	background-color:white;
	width: 780px;
	height: 170px;

}
#AñadirMoneda{
	background-color:#004080;
	width: 780px;
	height: 590px;
	color: white;


}
#Formulario{
	width: 780px;
	height: 500px;
	position: relative;
	left: 130px;
}

#moneda{
	background-color:blue;
	width: 780px;
	height: 200px;
	position: relative;
	left: 530px;
	top: 180px;

}
