<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Mostrar selección</title>
<link rel="stylesheet" type="text/css" href="../static/css/styles.css"
	th:href="@{/css/styles.css}" />
</head>

<body>
	<div>
		<form action="/buscar/mostrar" method="post">
			<input id="buscador" type='search' class="campos" name='divisa'>
			<input id="Buscar2" type='submit' name='buscar' value='Buscar'>
		</form>
	</div>
	
	<div id="Mostrar" th:if="${src == 'mostrar'}">
		<td th:if="${moneda != null}">
			<h1>Moneda seleccionada</h1>

			<p th:text="'Modelo:' + ${moneda.modelo}" />
			<p th:text="'Valor:' + ${moneda.valor}" />
			<p th:text="'Divisa:' + ${moneda.divisa}" /> <a href="/">Volver</a>
		</td>
		<td th:unless="${moneda != null}">
			<h1>Moneda no encontrada</h1> <a href="/">Volver</a>
		</td>
	</div>
</body>
</html>