<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mostrar selección</title>
<link rel="stylesheet" type="text/css" href="../static/css/styles.css"
	th:href="@{/css/styles.css}" />
</head>

<header class="contenedor fondo padding" id="cabecera">
	<div class="centrado">
		<a class="fondo" href="/"><h1 class="cabecera">Museo
				Numismático de Móstoles</h1></a>
	</div>
</header>

<body>
	<div class="centrado margen-top">
		<div th:if="${src == 'moneda'}">
			<div>
				<form action="/buscar/moneda/on/mon" method="post">
					<input id="buscador" type='search' class="campos" name='divisa'
							placeholder="Divisa">
					<input id="buscador" type='search' class="campos" name='valor'
							placeholder="Valor Facial">
					<input id="Buscar2" type='submit' class="boton fondo" name='buscar' value='Buscar'>
					<p>Ordenar por:  </p>
					<select name='orden'>
						<option>Divisa</option>
						<option selected>Valor Facial</option>
						<option>Peso</option>
						<option>Diámetro</option>
					</select>
				</form>
			</div>

			<div id="Mostrar" th:if="${av == 'on'}">
				<h1 th:if="${#lists.isEmpty(monedas)}">Moneda no encontrada</h1>
				<div th:unless=="${#lists.isEmpty(monedas)}">
					<h3>Moneda encontrada</h3>
					<table class = "seleccionadas">
						<tr>
							<th>Modelo</th>
							<th>Valor</th>
							<th>Divisa</th>
							<th>Diámetro</th>
							<th>Peso</th>
							<th>Composición</th>
							<th>Descripción</th>
							<th></th>
						</tr>
						<p th:each="moneda : ${monedas}">
						<tr>
							<td class = "primeraDeFila"><span th:text="${moneda.modelo}"></span></td>
							<td><span th:text="${moneda.valor}"></span></td>
							<td><span th:text="${moneda.divisa}"></span></td>
							<td><span th:text="${moneda.diametro}"></span></td>
							<td><span th:text="${moneda.peso}"></span></td>
							<td><span th:text="${moneda.composicion}"></span></td>
							<td><span th:text="${moneda.descripcion}"></span></td>
							<td><a th:href="@{/modificar/moneda/(${moneda.modelo})}">Modificar</a></td>
						</tr>
						</p>
					</table>
				</div>
			</div>
		</div>
		
		<div th:if="${src == 'proveedor'}">
			<div>
				<form action="/buscar/proveedor/on/pro" method="post">
					<input id="buscador" type='search' class="campos" name='nombre'
							placeholder="Nombre">
					<input id="buscador" type='search' class="campos" name='cif'
							placeholder="CIF">
					<input id="Buscar2" class="boton fondo" type='submit' name='buscar' value='Buscar'>
					<p>Ordenar por:  </p>
					<select name='orden'>
						<option>CIF</option>
						<option>Nombre</option>
					</select>
				</form>
			</div>

			<div id="Mostrar" th:if="${av == 'on'}">
				<h1 th:if="${#lists.isEmpty(proveedores)}">proveedor no encontrado</h1>
				<div th:unless=="${#lists.isEmpty(proveedores)}">
					<h3>Proveedor encontrado</h3>
					<table class="seleccionadas">
						<tr>
							<th>CIF</th>
							<th>Nombre</th>
							<th>Direccion Postal</th>
							<th>Email</th>
							<th>Telefono</th>
							<th></th>
						</tr>
					<p th:each="proveedor : ${proveedores}">
					<tr>
							<th><span th:text="${proveedor.cif}"></span></th>
							<td><span th:text="${proveedor.nombre}"></span></td>
							<td><span th:text="${proveedor.direccionPostal}"></span></td>
							<td><span th:text="${proveedor.email}"></span></td>
							<td><span th:text="${proveedor.tlf}"></span></td>
							<td><a th:href="@{/modificar/proveedor/(${proveedor.cif})}">Modificar</a></td>
						</tr>
						</p>
					</table>
					</p>
				</div>
			</div>
		</div>
		
		<div th:if="${src == 'ejemplar'}">
			<div>
				<form action="/buscar/ejemplar/on/ejem" method="post">
					<input id="buscador" type='search' class="campos" name='estado'
							placeholder="Estado">
					<input id="buscador" type='search' class="campos" name='ciudad'
							placeholder="Ciudad">
					<input id="Buscar2" class="boton fondo" type='submit' name='buscar' value='Buscar'>
					<p>Ordenar por:  </p>
					<select name='orden'>
						<option>Ciudad</option>
						<option>Estado</option>
						<option>Fecha</option>
					</select>
				</form>
			</div>

			<div id="Mostrar" th:if="${av == 'on'}">
				<h1 th:if="${#lists.isEmpty(ejemplares)}">ejemplar no encontrado</h1>
				<div th:unless=="${#lists.isEmpty(ejemplares)}">
					<h3>ejemplar encontrado</h3>
					<table class="seleccionadas">
						<tr>
							<th>ID</th>
							<th>Año</th>
							<th>Ciudad</th>
							<th>Fecha</th>
							<th>Estado</th>
							<th>Modelo</th>
							<th>CIF</th>
							<th></th>
						</tr>
					<p th:each="ejemplar : ${ejemplares}">
					<tr>
							<th><span th:text="${ejemplar.id}"></span></th>
							<td><span th:text="${ejemplar.year}"></span></td>
							<td><span th:text="${ejemplar.ciudad}"></span></td>
							<td><span th:text="${ejemplar.fecha}"></span></td>
							<td><span th:text="${ejemplar.estado}"></span></td>
							<td><span th:text="${ejemplar.moneda.modelo}"></span></td>
							<td><span th:text="${ejemplar.proveedor.cif}"></span></td>
							<td><a th:href="@{/modificar/ejemplar/(${ejemplar.id})}">Modificar</a></td>
						</tr>
						</p>
					</table>
					</p>
				</div>
			</div>
		</div>
		<br><a class="boton fondo" id="Volver" href="/">Volver</a>
	</div>
</body>
</html>
