<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Añadir a la base de datos</title>
<link rel="stylesheet" type="text/css" href="../static/css/Index.css"
	th:href="@{/css/styles.css}" />
</head>

<body>

	<div id="contenedor">
		<div th:if="${src == 'moneda'}">
			<div id="cabecera">
				<h1>Añadir Moneda Nueva</h1>
			</div>
			<form action="/insertar/moneda" method="post">
				<table>
					<tr>
						<td><label class="Etiquetas">Modelo:</label>
						<td><input type='text' class="campos" name='modelo'
							placeholder="Número de Serie" required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Valor Facial:</label>
						<td><input type='number' class="campos" name='valor'
							placeholder="Numero Entero" pattern="[0-9]+" required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Divisa:</label>
						<td><input type='text' class="campos" name='divisa'
							placeholder="Euro, dólar..." required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Diámetro:</label>
						<td><input type='text' class="campos" name='diametro'
							placeholder="En milímetros" pattern="\d+([,\.']\d+)?" required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Peso:</label>
						<td><input type='text' class="campos" name='peso'
							placeholder="En gramos"
							pattern="\d+([,\.']\d+)?" required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Composición:</label>
						<td><input type='text' class="campos" name='composicion'
							placeholder="Zinc, Cobre..." required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Descripción:</label>
						<td><textarea name="descripcion" rows="4" cols="25" placeholder="Información relevante de esta tirada de monedas."></textarea></td>
						</td>
					</tr>
				</table>
				<input type='submit' name='enviar' value='Enviar' />
			</form>
		</div>

		<div th:if="${src == 'ejemplar'}">
			<div id="cabecera">
				<h1>Añadir Ejemplar Nuevo</h1>
			</div>
			<form action="/insertar/ejemplar" method="post">
				<table>
					<tr>
						<td><label class="Etiquetas">Modelo:</label>
						<td><input type='text' class="campos" name='modelo'
							placeholder="Número de Serie" required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Año:</label>
						<td><input type='number' class="campos" name='año' max="2019" placeholder="2019"
							required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Ciudad de Acuñación:</label>
						<td><input type='text' class="campos" name='ciudad' placeholder="Madrid, Lisboa..." required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Fecha de Adquisición:</label>
						<td><input type='date' class="campos" name='fecha'
							max="2019-06-01" required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Estado de Conservación:</label>
						<td><input type='text' class="campos" name='estado' required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Proveedor:</label>
						<td><input type='text' class="campos" name='proveedor' placeholder="CIF"
							required /></td>
						</td>
					</tr>
				</table>
				<input type='submit' name='enviar' value='Enviar' />
			</form>
		</div>

		<div th:if="${src == 'proveedor'}">
			<div id="cabecera">
				<h1>Añadir Proveedor Nuevo</h1>
			</div>
			<form action="/insertar/proveedor" method="post">
				<table>
					<tr>
						<td><label class="Etiquetas">CIF:</label>
						<td><input type='text' class="campos" name='cif'
							pattern="[A-Z]\d{7}([A-Z]|\d)" placeholder="A1234567B" required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Nombre:</label>
						<td><input type='text' class="campos" name='nombre' placeholder="Proveedor SL" required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Dirección Postal:</label>
						<td><input type='text' class="campos" name='direccion' placeholder="Calle Falsa 123"
							required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">E-Mail:</label>
						<td><input type='text' class="campos" name='email' placeholder="correo@empresa.dom" required /></td>
						</td>
					</tr>
					<tr>
						<td><label class="Etiquetas">Teléfono de Contacto:</label>
						<td><input type='text' pattern="[0-9]{9}" placeholder="123456789" class="campos"
							name='tlf' required /></td>
						</td>
					</tr>
				</table>
				<input type='submit' name='enviar' value='Enviar' />
			</form>
		</div>

		<button id="Volver" onclick="location.href='http://localhost:8080/'">Volver</button>
	</div>
</body>
</html>