<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Modificar elemento</title>
<link rel="stylesheet" type="text/css" href="../static/css/styles.css"
	th:href="@{/css/styles.css}" />
</head>
<header class="contenedor fondo padding" id="cabecera">
	<div class="centrado">
		<a class="fondo" href="/"><h1 class="cabecera">Museo
				Numismático de Móstoles</h1></a>
	</div>
</header>
<body>

	<!-- Caso moneda -->

	<div th:if="${src == 'moneda'}">

		<div class="centrado margen-top" th:with="id=${moneda.modelo}">

			<!-- Columna antigua -->
			<div class="columna">
				<div class="marco">
					<h3>Datos Actuales de la Moneda</h3>
					<img src="/img/moneda.png" alt="Moneda" height="120" width="120"><br>
					<br>
					<div class="columna">
						<table>
							<tr>
								<td><label class="Etiquetas">Valor Facial:</label></td>
								<td><span th:text="${moneda.valor}"></span></td>
							</tr>
							<tr>
								<td><label class="Etiquetas">Divisa:</label></td>
								<td><span th:text="${moneda.divisa}"></span></td>
							</tr>
							<tr>
								<td><label class="Etiquetas">Diámetro:</label></td>
								<td><span th:text="${moneda.diametro}"></span></td>
							</tr>
							<tr>
								<td><label class="Etiquetas">Peso:</label></td>
								<td><span th:text="${moneda.peso}"></span></td>
							</tr>
							<tr>
								<td><label class="Etiquetas">Composición:</label></td>
								<td><span th:text="${moneda.composicion}"></span></td>
							</tr>
							<tr>
								<td><label class="Etiquetas">Descripción:</label></td>
								<td><span th:text="${moneda.descripcion}"></span></td>
							</tr>
						</table>
					</div>
					<br> <br>
					<div class="centrado">
						<a class="boton fondo centrado" id="Volver" href="/">Volver</a>
					</div>
				</div>
			</div>

			<!-- Columna modificar -->
			<div class="columna">
				<div class="marco">
					<h3>Nuevos Datos de la Moneda</h3>
					<img src="/img/moneda.png" alt="Moneda" height="120" width="120"><br>
					<br>
					<form id='actualizar/moneda' action=#
						th:action="@{/actualizar/moneda(monedaID=${moneda.modelo})}"
						method="post">
						<table>
							<tr>
								<td><label class="Etiquetas">Valor Facial:</label></td>
								<td><input type='number' min="0" class="campos"
									name='valor' placeholder="Numero Entero" required /></td>
							</tr>
							<tr>
								<td><label class="Etiquetas">Divisa:</label></td>
								<td><input type='text' class="campos" name='divisa'
									placeholder="Euro, dólar..." required /></td>
							</tr>
							<tr>
								<td><label class="Etiquetas">Diámetro:</label></td>
								<td><input type='text' class="campos" name='diametro'
									placeholder="En milímetros" pattern="\d+([,\.']\d+)?" required /></td>
							</tr>
							<tr>
								<td><label class="Etiquetas">Peso:</label></td>
								<td><input type='text' class="campos" name='peso'
									placeholder="En gramos" pattern="\d+([,\.']\d+)?" required /></td>
							</tr>
							<tr>
								<td><label class="Etiquetas">Composición:</label></td>
								<td><input type='text' class="campos" name='composicion'
									placeholder="Zinc, Cobre..." required /></td>
							</tr>
							<tr>
								<td><label class="Etiquetas">Descripción:</label></td>
								<td><textarea class="campos" name="descripcion" rows="3"
										cols="20" placeholder="Información relevante."></textarea></td>
							</tr>
						</table>
						<div class='centrado'>
							<input type='submit' class="boton fondo" name='enviar'
								value='Enviar' />
						</div>
						<!-- botón -->
					</form>
				</div>
				<!-- nuevos datos -->
			</div>
			<!-- columna modificar -->
		</div>
		<!-- ambas columnas -->
	</div>
	<!-- caso moneda -->
</body>
</html>